torrents
uncompressed-subtitles
compressed-subtitles
.env
.DS_Store
coverage
node_modules
*.zip
bun.lockb
bun.lock
**/bin/*
**/bin/subtis
**/bin/subtis.bin
coverage-ts
__dump
*.rar
.env*
*.bun-build
*.srt
*.ssa
dist
.wrangler
.dev.vars
/package-lock.json
packages/api/package-lock.json
packages/cli/package-lock.json
packages/db/package-lock.json
packages/indexer/package-lock.json
packages/shared/package-lock.json
packages/stremio/package-lock.json
yarn.lock
pnpm-lock.yaml
*.mkv
*.mp4
*.avi
cli-latest
