torrents
uncompressed-subtitles
compressed-subtitles
.env
.DS_Store
*.mp4
coverage
node_modules
*.zip
*.js
bun.lockb
**/bin/*
**/bin/subtis
**/bin/subtis.bin
coverage-ts
__dump
*.rar
.env*
*.bun-build
*.srt
*.ssa
dist
.wrangler
.dev.vars
package-lock.json
yarn.lock
pnpm-lock.yaml
*.mkv
*.mp4
*.avi
cli-latest
